[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
selenium = "*"
webdriver-manager = "*"
numpy = "*"

[requires]
python_version = "3.7"

[dev-packages]
pylint = "*"
